---
import Layout from '../layouts/Layout.astro'
import Navigation from '../components/Navigation.astro'
import Agenda from './_index/agenda.astro'
import Contacto from './_index/contacto.astro'
import Equipo from './_index/equipo.astro'
import Evento from './_index/evento.astro'
import Faq from './_index/faq.astro'
import Hero from './_index/hero.astro'
import Speakers from './_index/speakers.astro'
import Sponsors from './_index/sponsors.astro'
import Tickets from './_index/tickets.astro'
---

<Layout>
  <Navigation />
  <div id="hero">
    <Hero />
  </div>
  <div id="evento">
    <Evento />
  </div>
  <div id="speakers">
    <Speakers />
  </div>
  <div id="agenda">
    <Agenda />
  </div>
  <div id="tickets">
    <Tickets />
  </div>
  <div id="faq">
    <Faq />
  </div>
  <div id="equipo">
    <Equipo />
  </div>
  <div id="sponsors">
    <Sponsors />
  </div>
  <div id="contacto">
    <Contacto />
  </div>
</Layout>
